<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjVU-Ge69agBzpOi2O634eLjaRU9rAyJs</string>
	<key>GCM_SENDER_ID</key>
	<string>595552764849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bwiAssignment</string>
	<key>PROJECT_ID</key>
	<string>saloon-2a65c</string>
	<key>STORAGE_BUCKET</key>
	<string>saloon-2a65c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595552764849:ios:34145d6c8ebbd3a75a3390</string>
</dict>
</plist>